%footer#footer.text-center

  %hr.visible-print

  - if site.data.site.footer_links
    %ul.footer-nav-list
      - site.data.site.footer_links.each do |name, url|
        %li
          %a{ :href => url.strip, :title => name.strip, :target => "_blank" }

  =# site.data.site.founding_year
  - founding = site.data.site.founding_year
  - year_string = if founding && founding.to_i < Time.now.year
    - founding.to_s + '&ndash;' + Time.now.year.to_s
  - else
    - Time.now.year.to_s

  = site.data.site.copyright || "&copy; #{year_string} #{site.data.site.owner || site.data.site.name}"

  - source_file = site.source + '/' + page.path

  - labels = if source_file.include?("documentation")
    - "documentation"
  - else
    - "content"

  - issue_template = if source_file.include?("documentation")
    - "issue_template_documentation.md"
  - else
    - ""

  - icon = '<i class="icon fa fa-github"></i>'

  .edit-this-page
    - issue_url = "https://github.com/#{site.data.site.github}/issues/new?labels=#{labels}&title=Issue:%20#{source_file}&template=#{issue_template}"
    %a{ :href => issue_url, :title => "https://github.com/#{site.data.site.github}/issues/new?labels=#{labels}&title=Issue:%20#{source_file}&template=#{issue_template}", :target => "_blank" }
  .edit-this-page
    - edit_url = "https://github.com/#{site.data.site.github}/edit/master#{source_file}"
    = link_to "#{icon}Edit this page", edit_url, {target: '_blank'}

  .last-modified
    - modified_time = `git log --pretty=format:%ai #{source_file}`.split(/\n/).first rescue nil

    - if modified_time
      Page last modified
      = Time.parse(modified_time).utc.strftime('%a %-d %b %Y %H:%M %Z')
  = insert_piwik_tracker
